@import "tailwindcss";

/* :root {
  --primary: #ff6b35;
} */

@keyframes gradient-x {
  0%, 100% { background-size: 200% 200%; background-position: left center; }
  50% { background-size: 200% 200%; background-position: right center; }
}

.animate-gradient-x {
  animation: gradient-x 4s ease infinite;
}